.mainTitle {
    margin-bottom: 50px;
    color: #F39F5A;
    font-family: 'Lobster Two', cursive;
}

.customBtn {
    position: relative;
    display: inline-block;
    border-radius: 2rem;
    border: 2px solid #F39F5A;
    width: 300px;
    height: 45px;
    font-size: 20px;
    background-color: inherit;
    color: #fff;
    overflow: hidden;
    transition: color .2s, transform .2s;
    margin-top: 140px;
}

.customBtn:not(.disabledBtn)::after {
    background-color: #F39F5A;
    border-radius: 2rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%) rotate(10deg);
    transform-origin: top left;
    transition: transform .2s ease-out;
    z-index: -1;
}

.customBtn:hover::after {
    transform: translateX(0) rotate(0);
}

.customBtn:hover {
    border: 2px solid transparent;
    transform: scale(1.05);
    border: 2px solid #ae445a;
}

.card {
    background-color: inherit;
    border: 2px solid #F39F5A;

    .card-title {
        color: #F39F5A;
        font-size: 30px;
        font-family: 'Lobster Two', cursive;
    }

    .card-text {
        color: #fff;
        font-size: 20px;

        .boardBtn {
            cursor: pointer;
            color: #F39F5A;
            font-size: 20px;
            text-decoration: none;
        }
    }
}

.dropDown {
    border-radius: 2rem;
    background-color: inherit;
    border: 2px solid #F39F5A;
    height: fit-content;
}

.name label,
.level label,
.name input {
    font-size: 20px;
    color: #fff;
}

.name input {
    background-color: inherit;
    border: 2px solid #F39F5A;
    border-radius: 2rem;
}

input:-internal-autofill-selected {
    background-color: none !important;
    color: #fff !important;
}

.name input:focus {
    border: 2px solid #F39F5A;
    box-shadow: none;
    outline: none;
}

.name input,
.level div {
    width: 60%;

}

.userInfo {
    margin-top: 80px;
}

.disabledBtn {
    cursor: not-allowed;
}