<div class="container-fluid h-100 p-5">
    <div class="row border ">
        <div class="col d-flex flex-column flex-md-row align-items-center justify-content-between">
            <p class="text-white">Player: Aya</p>
            <p class="text-white">Level: Easy</p>
            <p class="text-white">Moves: 5</p>
            <p class="text-white">Misses: 6</p>
            <p class="text-white">Moves Left: 3</p>
            <p class="text-white">Time Left: 12 Minutes</p>
            <button>Cancel Round</button>
            <button>Restart Round</button>
        </div>
    </div>

    <div class="row game-board border mt-5" style="height: 90%;">

    </div>
</div>